.footer {
    min-height: 100px;
    background-color: #999;
}

.footer ul {
    margin: 0;
    padding: 40px;
    list-style: none;
    text-align: center;
}

.footer ul li {
    display: block;
    padding: 5px 15px;
}

.footer ul tactile-author {
    text-align: middle;
}

@media (min-width: 600px) {
  .footer ul li {
      display: inline;
  }

  .footer ul tactile-author {
      text-align: left;
  }
}
