body.edit .tactile {
  outline: 2px solid rgba(0,0,0,0);
  position: relative;
  //margin: -2px;
}

body.edit .tactile:hover {
  outline: 2px solid blue;
  //margin: -2px;
}

body tactile-mode {
  position: absolute;
  z-index: 100;
}
