body.edit .tactile {
  border: 2px solid rgba(0,0,0,0);
  margin: -2px;
  position: relative;
  border-radius: 3px;
}

body.edit .tactile:hover {
  border: 2px solid rgba(80, 80, 80, 0.6);
}

body tactile-mode {
  position: absolute;
  z-index: 100;
}
