body.edit .tactile {
  outline: 1px solid rgba(0,0,0,0);
  position: relative;
}

body.edit .tactile:hover {
  outline: 1px solid rgba(60, 120, 255, 0.6);
  box-shadow: inset 0 0 20px rgba(60, 120, 255, 0.6);
}

body tactile-mode {
  position: absolute;
  z-index: 100;
}
